<p id="notice"><%= notice %></p>

<h1 class = "headings">Orders</h1>

<div class="backbuttondiv showall">
<%= link_to 'Previous Orders', showall_path%>
</div>

<div class="backbuttondiv neworder">
<%= link_to 'New Order', new_order_path%>
</div>

