<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<br>
<h6>
This web application is developed to serve the needs of the Bees Delivery Inc. Designed and developed by Yasir Khan and Muhsin Warfa.
</h6>
